.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #009fca;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: 1px 1px 6px #005b74;
}

p {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.experience {
  margin-top: 57px;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Cabin, sans-serif;
  color: #e9e9e9;
  font-size: 18px;
  text-align: left;
}

.paragraph.app {
  color: #fff;
  text-align: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 14px;
  padding-left: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-quote {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Cabin, sans-serif;
  color: #fff;
  font-size: 16px;
}

.heading-3 {
  margin-bottom: 47px;
  text-align: center;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 9px -62px -62px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  border-radius: 70px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-pane-tab-3 {
  margin-top: 21px;
}

.tabs-content {
  margin-top: 45px;
  margin-bottom: 75px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container-5 {
  margin-top: 82px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1b1b33;
}

.section-4 {
  margin-top: 46px;
  padding-top: 56px;
}

.body {
  margin-top: 0px;
  background-color: #1b1d32;
}

.email {
  margin-top: -6px;
  font-family: Cabin, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  -webkit-column-count: auto;
  column-count: auto;
}

.name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Musket, sans-serif;
  color: #fff;
  font-size: 38px;
  text-align: center;
  text-shadow: 4px 4px 2px #000;
}

.name.school {
  margin-top: -4px;
  margin-bottom: 32px;
  color: #d0557b;
  font-size: 25px;
  text-shadow: none;
}

.name.deadline {
  margin-top: 1px;
  font-size: 25px;
  text-shadow: 2px 2px 2px #000;
}

.name.faq {
  margin-top: 0px;
  margin-bottom: 0px;
}

.name.why {
  padding-bottom: 11px;
}

.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  min-width: 300px;
  margin: -14px 36px 36px;
  padding: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: transparent;
  background-image: url('../images/hint-papers.png');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Musket, sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
  letter-spacing: normal;
}

.form-button:hover {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
  color: #fff;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 104px -29px;
  padding-top: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-5 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-5.event-into {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.section-7 {
  margin-top: 0px;
  padding-top: 0px;
  border: 1px solid transparent;
  text-align: center;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 288px;
  margin-top: 26px;
  margin-bottom: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.person.bill {
  margin-top: 0px;
}

.grid-8 {
  margin-bottom: 24px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #d0557b;
}

.grid-8.other {
  margin-bottom: 25px;
  -webkit-transition-property: none;
  transition-property: none;
}

.grid-8.workshops {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-8.ea {
  margin-bottom: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.olivia {
  display: inline-block;
  max-height: 100%;
  border-radius: 200px;
  opacity: 0;
}

.olivia:hover {
  opacity: 1;
}

.image-container {
  background-image: url('../images/Artboard-1-copy-15.png');
  background-position: 0px 0px;
  background-size: cover;
  opacity: 1;
}

.image-container:hover {
  opacity: 1;
}

.image-container.olivia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  min-width: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 200px;
  background-image: url('../images/Ear.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.image-container.olivia.eye {
  background-image: url('../images/Eye.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-container.olivia.speak {
  background-image: url('../images/Untitled-1.png');
  background-position: 50% 50%;
  background-size: cover;
}

.body-2 {
  background-color: #1b1d32;
}

.body-2.home {
  background-color: #0b0e1b;
}

.body-3 {
  background-color: #1b1d32;
}

.nav-link-6 {
  display: inline-block;
  width: 95px;
  background-image: url('../images/Artboard-4.png');
  background-position: 50% 50%;
  background-size: cover;
  font-family: Musket, sans-serif;
  color: #000;
  font-size: 25px;
  text-align: center;
}

.nav-link-6.w--current {
  color: #fff;
}

.nav-link-6.involvement {
  font-size: 30px;
}

.nav-link-6.contact {
  overflow: visible;
  width: 105px;
  font-size: 25px;
  text-align: left;
}

.navbar-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  background-color: transparent;
}

.columns-3 {
  margin: 76px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-17 {
  width: 100px;
  height: 100px;
}

.tab-name {
  font-family: 'Earth spirit';
  color: #d0557b;
  font-size: 40px;
  text-align: center;
}

.tab-name.talent {
  font-size: 30px;
}

.text-span-2 {
  font-size: 30px;
}

.tab-link-tab-2-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  opacity: 0.52;
}

.tab-link-tab-2-2.w--current {
  background-color: transparent;
  opacity: 1;
}

.accordion-wrapper {
  margin-top: 0px;
  border: 1px none #000;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-19 {
  width: 70px;
  height: 70px;
  background-color: transparent;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
}

.heading-9 {
  margin-top: 10px;
  font-family: Cabin, sans-serif;
  color: #d0557b;
  font-size: 25px;
  font-weight: 700;
  text-shadow: none;
}

.section-9 {
  margin-top: -50px;
  padding-top: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-5 {
  margin-top: 15px;
}

.menu-button {
  margin-right: 30px;
  margin-left: 30px;
  font-family: Musket, sans-serif;
  font-size: 20px;
}

.menu-button:visited {
  color: #333;
}

.menu-button.w--current {
  color: #d0557b;
}

.menu-button.logo {
  width: 110px;
  height: 110px;
  background-image: url('../images/LOGO1.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.container-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fibre font', sans-serif;
  color: #d0557b;
  font-size: 80px;
  text-align: center;
  text-shadow: 4px 4px 6px #000;
}

.heading.forms {
  line-height: 80px;
}

.heading.faq {
  margin-top: 0px;
}

.heading.application {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 40px;
}

.heading.leader {
  padding-bottom: 20px;
}

.what {
  margin-top: 0px;
  padding-top: 30px;
}

.columns-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 31px;
  padding-right: 45px;
  padding-left: 45px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.deadlines {
  margin-top: 41px;
}

.deadlines.top {
  margin-top: 0px;
  padding-top: 29px;
}

.html-embed-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 62px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-10 {
  height: 100px;
}

.casual-photo {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  background-image: url('../images/DSC05490.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.casual-photo:active {
  display: none;
}

.casual-photo.jc {
  background-image: url('../images/DSC05227-2.jpg');
  background-position: 50% 20%;
  background-size: cover;
}

.casual-photo.aaron {
  background-image: url('../images/DSC05325.jpg');
  background-position: 50% 70%;
  background-size: cover;
}

.casual-photo.doug {
  background-image: url('../images/IMG_0331.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.casual-photo.maddie {
  background-image: url('../images/DSC05361.jpg'), url('../images/DSC05490.jpg');
  background-position: 70% 50%, 50% 0%;
  background-size: 200px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.vy {
  background-image: url('../images/DSC05016.jpg'), url('../images/DSC05490.jpg');
  background-position: 50% 30%, 50% 0%;
  background-size: 160px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.alison {
  background-image: url('../images/DSC04985.jpg'), url('../images/DSC05490.jpg');
  background-position: 50% 0%, 50% 0%;
  background-size: cover, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.minh {
  background-image: url('../images/DSC05522.jpg'), url('../images/DSC05490.jpg');
  background-position: 30% 40%, 50% 0%;
  background-size: 120%, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.ralph {
  background-image: url('../images/DSC05516.jpg'), url('../images/DSC05490.jpg');
  background-position: 50% 20%, 50% 0%;
  background-size: 200px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.nhi {
  background-image: url('../images/DSC05554.jpg'), url('../images/DSC05490.jpg');
  background-position: 50% 20%, 50% 0%;
  background-size: 200%, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.tate {
  background-image: url('../images/DSC05431.jpg'), url('../images/DSC05490.jpg');
  background-position: 50% 10%, 50% 0%;
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.jenny {
  background-image: url('../images/DSC05338.jpg'), url('../images/DSC05490.jpg');
  background-position: 70% 50%, 50% 0%;
  background-size: 160px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.alicia {
  background-image: url('../images/IMG_0305.jpg'), url('../images/DSC05490.jpg');
  background-position: 70% 30%, 50% 0%;
  background-size: 160px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.jason {
  background-image: url('../images/IMG_0381.jpg'), url('../images/DSC05490.jpg');
  background-position: 60% 30%, 50% 0%;
  background-size: 180px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.thuy {
  background-image: url('../images/IMG_0429.jpg'), url('../images/DSC05490.jpg');
  background-position: 80% 40%, 50% 0%;
  background-size: 170px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.kathleen {
  background-image: url('../images/IMG_0403.jpg'), url('../images/DSC05490.jpg');
  background-position: 100% 30%, 50% 0%;
  background-size: 180px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.zahin {
  background-image: url('../images/DSC05190-2.jpg'), url('../images/DSC05490.jpg');
  background-position: 30% 40%, 50% 0%;
  background-size: 160px, cover;
  background-repeat: repeat, no-repeat;
}

.casual-photo.bill {
  background-image: url('../images/DSC04778.jpg');
  background-position: 50% 30%;
  background-size: 200px;
}

.section-11 {
  margin-top: 0px;
  padding-top: 30px;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: none;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #252525;
}

.body-4 {
  background-color: #1b1d32;
}

.section-13 {
  margin-top: 76px;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 164px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-7 {
  margin-top: 5px;
  margin-bottom: 23px;
  padding-top: 0px;
  font-family: Cabin, sans-serif;
}

.button {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  background-color: #d0557b;
  font-family: Cabin, sans-serif;
  font-size: 16px;
}

.button:hover {
  box-shadow: 3px 3px 0 2px #000;
}

.button.campfire {
  margin-top: 17px;
}

.image-24 {
  height: 350px;
}

.columns-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-25 {
  height: 350px;
}

.image-26 {
  height: 350px;
}

.image-27 {
  height: 350px;
}

.image-28 {
  height: 350px;
  margin-top: 7px;
}

.image-29 {
  height: 350px;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #d0557b;
}

.column-9:hover {
  box-shadow: inset 0 2px 5px 0 #000;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-9 {
  padding-right: 30px;
  padding-left: 30px;
}

.column-10 {
  padding-bottom: 10px;
  background-color: #64b6bd;
}

.column-10:hover {
  box-shadow: inset 0 2px 5px 0 #000;
}

.column-11 {
  padding-bottom: 10px;
  background-color: #5ea7ad;
}

.column-11:hover {
  box-shadow: inset 0 1px 5px 0 #000;
}

.column-12 {
  padding-bottom: 10px;
  background-color: #53959b;
}

.column-12:hover {
  box-shadow: inset 0 2px 5px 0 #000;
}

.column-13 {
  padding-bottom: 10px;
  background-color: #d0557b;
}

.column-13:hover {
  box-shadow: inset 0 2px 5px 0 #000;
}

.column-14 {
  padding-bottom: 10px;
  background-color: #fcae73;
}

.column-14:hover {
  box-shadow: inset 0 2px 5px 0 #000;
}

.link-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.link-block.w--current {
  display: block;
  cursor: pointer;
}

.link-block-2 {
  position: fixed;
  left: auto;
  top: auto;
  right: 1%;
  bottom: 3%;
  z-index: 100;
  width: 50px;
  height: 50px;
  float: right;
  clear: none;
  border-radius: 8px;
  background-color: #d0557b;
}

.link-block-2:hover {
  box-shadow: inset 0 2px 5px 0 #000;
}

.image-31 {
  display: inline-block;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-32 {
  height: 350px;
}

.section-16 {
  margin-bottom: 64px;
  padding: 67px 67px 207px;
  background-color: #0b0e1b;
}

.link {
  color: #d0557b;
}

.link-2 {
  color: #d0557b;
}

.link-3 {
  color: #d0557b;
}

.link-4 {
  color: #d0557b;
}

.link-5 {
  color: #d0557b;
}

.butterfly {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -100;
  display: block;
  overflow: hidden;
  min-width: 100vw;
}

.section-18 {
  position: relative;
  left: 0%;
  top: 12%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fcae73;
  text-align: center;
  cursor: pointer;
}

.heading-12 {
  font-family: Cabin, sans-serif;
}

.section-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/BANNER.gif');
  background-position: 50% 50%;
  background-size: cover;
}

.image-33 {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.wisps {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -100;
  min-width: 100vw;
}

.column-16 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1b1b33;
}

.column-17 {
  padding-right: 0px;
  padding-left: 8px;
}

.body-5 {
  background-color: #0d0d0d;
}

.section-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/TECH.gif');
  background-position: 50% 50%;
  background-size: cover;
}

.container-16 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: '8 bit wonder', sans-serif;
  color: #208e8c;
}

.section-23 {
  margin-top: -76px;
}

.image-35 {
  margin-top: 60px;
}

@media (max-width: 991px) {
  .div-block-6 {
    margin-right: -102px;
    margin-bottom: 32px;
    margin-left: -102px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .block-quote {
    margin-right: -56px;
    margin-left: -56px;
  }
  .container-5 {
    margin-top: 87px;
    padding: 0px 36px 36px;
  }
  .email {
    font-size: 20px;
  }
  .name {
    font-size: 25px;
  }
  .name.faq {
    font-size: 30px;
  }
  .container-8 {
    position: -webkit-sticky;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .navbar-2 {
    position: relative;
  }
  .columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-9 {
    margin-top: -73px;
  }
  .menu-button {
    overflow: visible;
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 6px;
    color: #1b1d32;
    white-space: normal;
  }
  .menu-button.w--current {
    -webkit-filter: none;
    filter: none;
    color: #d0557b;
  }
  .menu-button.w--open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #205a73;
    -webkit-filter: none;
    filter: none;
  }
  .menu-button.logo {
    display: none;
    -webkit-filter: none;
    filter: none;
  }
  .nav-menu-2 {
    position: absolute;
    left: 0%;
    top: 95%;
    right: 0%;
    bottom: auto;
    background-color: #ddd;
    color: #ddd;
  }
  .heading {
    margin-top: 0px;
    font-size: 50px;
    line-height: 50px;
    white-space: normal;
  }
  .heading.forms {
    line-height: 50px;
  }
  .heading.application {
    margin-bottom: 0px;
    padding-bottom: 28px;
  }
  .columns-6 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .deadlines {
    margin-top: 91px;
  }
  .deadlines.top {
    margin-top: 42px;
  }
  .section-13.workshop {
    margin-top: 225px;
  }
  .column-7 {
    padding-left: 37px;
  }
  .columns-9 {
    margin-top: 0px;
    padding-top: 55px;
  }
  .column-11 {
    background-color: #5ea7ad;
  }
  .link-block {
    display: block;
  }
  .link-block-2 {
    bottom: 8%;
  }
  .navbar-3 {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
  .butterfly {
    display: inline-block;
    overflow: hidden;
    min-width: 210vw;
  }
  .wisps {
    min-width: 210vw;
  }
}

@media (max-width: 767px) {
  .paragraph {
    margin-bottom: 29px;
  }
  .paragraph.app {
    margin-bottom: 5px;
  }
  .div-block-6 {
    margin-right: -44px;
    margin-left: -44px;
  }
  .block-quote {
    margin-right: -25px;
    margin-left: -25px;
  }
  .tabs-menu {
    padding: 59px;
  }
  .container-5 {
    padding: 40px;
  }
  .form-button {
    min-height: 200px;
    min-width: 200px;
    margin: auto;
    padding: 0px;
    background-image: url('../images/hint-papers.png');
    background-size: contain;
    font-size: 20px;
    line-height: 25px;
  }
  .grid-5 {
    padding: 0px;
  }
  .grid-8 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .heading {
    font-size: 40px;
    line-height: 40px;
  }
  .butterfly {
    display: inline-block;
    min-width: 300vw;
  }
  .wisps {
    min-width: 300vw;
  }
}

@media (max-width: 479px) {
  .paragraph {
    margin-bottom: 0px;
    color: #fff;
    font-size: 15px;
    text-align: left;
  }
  .div-block-6 {
    margin-right: auto;
    margin-left: auto;
  }
  .div-block-6.kat {
    margin-left: -16px;
  }
  .block-quote {
    margin-right: -40px;
    margin-left: -34px;
    padding-right: 20px;
    padding-left: 17px;
  }
  .tabs-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .container-5 {
    margin-top: 63px;
  }
  .name {
    font-size: 25px;
    text-align: left;
  }
  .name.school {
    font-size: 25px;
  }
  .name.faq {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 25px;
  }
  .name.why {
    font-size: 30px;
  }
  .form-button {
    min-height: 150px;
    min-width: 150px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 18px;
    line-height: 20px;
  }
  .body-2.home {
    background-color: #0b0e1b;
  }
  .tab-link-tab-2-2 {
    margin-bottom: 14px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tab-link-tab-2-2.w--current {
    width: 400px;
  }
  .accordion-item-content {
    padding: 0px;
  }
  .qa {
    margin-top: 10px;
  }
  .image-19 {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading-9 {
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
  }
  .column-5 {
    padding-left: 0px;
  }
  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .heading {
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 45px;
    line-height: 40px;
  }
  .heading.forms {
    font-size: 45px;
    line-height: 36px;
  }
  .columns-6 {
    padding-top: 2px;
  }
  .column-7 {
    padding-right: 35px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph-7 {
    font-size: 16px;
  }
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 98px;
    padding-left: 98px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }
  .image-24 {
    height: 200px;
  }
  .column-8 {
    padding-top: 17px;
  }
  .image-25 {
    height: 200px;
  }
  .image-26 {
    height: 200px;
  }
  .image-27 {
    height: 200px;
  }
  .image-28 {
    height: 200px;
  }
  .image-29 {
    height: 200px;
  }
  .link-block-2 {
    bottom: 10%;
  }
  .image-32 {
    height: 200px;
  }
  .butterfly {
    display: inline-block;
    height: 100vh;
  }
  .section-19 {
    margin-top: 25px;
  }
  .section-20 {
    margin-top: 27px;
  }
  .section-21 {
    min-height: 40vh;
  }
  .wisps {
    height: 100vh;
    min-width: 400vw;
  }
  .column-17 {
    padding-left: 0px;
  }
  .column-18 {
    padding-left: 0px;
  }
  .column-19 {
    padding-left: 0px;
  }
  .column-20 {
    padding-left: 0px;
  }
  .column-21 {
    padding-left: 0px;
  }
  .column-22 {
    padding-left: 0px;
  }
  .section-22 {
    width: 100vw;
    height: 100vh;
  }
}

#w-node-20484b5a7f38-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-3dcbd09bb0d0-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8feb8a86380-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f8feb8a86382-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-c82baf6aa26d-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-c31de74a3621-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-e453f17b5754-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-b73d9ec4cf19-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-1dc113abd372-f42bc4c9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-545b4d9788ae-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-545b4d9788b5-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-545b4d9788bc-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-1a5102229f84-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-1a5102229f8b-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-1a5102229f92-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-6aa64cd37b61-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bdeb9b6af567-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bdeb9b6af56e-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bdeb9b6af575-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bdeb9b6af57b-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5fba858f2d0-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5fba858f2d7-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5fba858f2de-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a5fba858f2e4-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-4cf179caaeb6-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-599481cbf290-732bc4ca {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media (max-width: 767px) {
  #w-node-f8feb8a86380-f42bc4c9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

@font-face {
  font-family: '8 bit wonder';
  src: url('../fonts/8-BIT-WONDER.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Henrik';
  src: url('../fonts/Henrik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Musket';
  src: url('../fonts/Musket-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Musket';
  src: url('../fonts/Musket-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fibre font';
  src: url('../fonts/fibre-font.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
